<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="get" action="{{url_for('handle_get')}}">
            <h1>Handle GET Request</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button>submit</button>
        </form>
    </div>

    <div>
        <form method="post" action="{{url_for('handle_post')}}">
            <h1>Handle POST Request</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button>submit</button>
        </form>
    </div>

    
</body>
</html>